# Ignore Android Studio files except important ones
.idea/*
!.idea/misc.xml
!.idea/modules.xml
!.idea/vcs.xml
!.idea/codeStyles/

# Ignore build and temp files
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx